.contenedor{
    width: 90%;
    margin: auto;
    padding: 40px 0;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;

}

.contenedor-trabajos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    
}


.trabajo1{
    background-image: url(../img/fiat.png);
    @include trabajos;
}

.trabajo2{
    background-image: url(../img/nike.png);
    @include trabajos;
}

.trabajo3{
    background-image: url(../img/audi.png);
    @include trabajos;
}

.trabajo4{
    background-image: url(../img/peugeot.png);
    @include trabajos;
}

.trabajo5{
    background-image: url(../img/salta.png);
    @include trabajos;
}

.trabajo6{
    background-image: url(../img/cocacola.png);
    @include trabajos;
}

.textos{
    background-color: $primary;
    text-align: center;
    h3{
        font-weight: bolder;
    }
    p{
        font-weight: bold;
    }
}
.aside{
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    background-color: $hover;
    
}

.imagenes_respaldan{
    display: grid;
    gap: 10px;
    grid-template-rows: 3fr;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
