//////////Variables
$principal: #00bcd4;
$texto: #607d8b;
$secundario: #0097a7;
$terciario: #bdbdbd;
$titulo: 2rem;
$parrafo: 1rem;
$mifuente: "Outfit", sans-serif;
$hover: #fbca1f;
$shadow: #555151;

//////////// Modificando valores de boostrap

$primary: $principal;
$secondary: $secundario;
$info: $texto;
$success: $terciario;
$font-family-sans-serif: $mifuente;
$nav-link-hover-color: $hover;

@import "./reset";
@import "../libs/boostrap/scss/bootstrap";
@import "../libs/boostrap/scss/bootstrap-grid.scss";
@import "./mixin";
@import "./index";
@import "./servicios";
@import "./trabajos";





.text_penguin{
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
}

.effect{
  text-decoration: none;
}

@media (max-width:500px) {
  .tarjeta_wrap{
    width: 100%;
  }
  .media{
    width: 350px;
  }
}