//////////Variables
$principal: #00bcd4;
$texto: #607d8b;
$secundario: #0097a7;
$terciario: #bdbdbd;
$titulo: 2rem;
$parrafo: 1rem;
$mifuente: "Outfit", sans-serif;
$hover: #fbca1f;
$shadow: #555151;

//////////// Modificando valores de boostrap

$primary: $principal;
$secondary: $secundario;
$info: $texto;
$success: $terciario;
$font-family-sans-serif: $mifuente;
$nav-link-hover-color: $hover;

////Importe el scss de las secciones (el de footer esta en _index)

@import "./reset";
@import "../libs/boostrap/scss/bootstrap";
@import "../libs/boostrap/scss/bootstrap-grid.scss";
@import "./mixin";
@import "./index";
@import "./servicios";
@import "./trabajos";



////////Estilos Generales y MediaQuerries (solo para Mobile)

.text_penguin{
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
}

.effect{
  text-decoration: none;
}

@media screen and (max-width: 500px) {
  .contenedor{
      display: grid;
      grid-template-columns: repeat(1,1fr);
  }
  .contenedor-trabajos{
      display: grid;
      grid-template-columns: repeat(1,1fr);
  }
  .tarjeta_wrap{
    width: 100%;
  }
  .media{
    width: 350px;
  }
}